.mainHomePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    height:500px;
}

.mainHomePage h1{
    font-size: 4rem;
}

.name {
    color: #2978b5;
}
.desc{
    width: 600px;
}
a{
    margin-inline: 5px;
    text-decoration: none;
    font-size: 18px;
}

link{
    font-family: 'Gulzar', serif;
    color: #2978b5;
}

.btn1{
    border-radius: 10px;
    background-color: #4c29b52b;
    border:2px solid black;
    color: black;
    padding:2px;
}

.btn1:hover{
  background-color: aqua;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}